<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	  <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	  <meta name="author" content="FREEHTML5.CO" />

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

      <title>Alert Criminel</title>
  </head>
  <body>
  <div class="container">
  <div class="row">

        <table class="table table-bordered">
          <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Autors</th>
            <th scope="col">Phone of plantiff</th>
              <th scope="col">Date</th>
            <th scope="col">Resolve</th>
            <th scope="col">In progess</th>

        </tr>
    </thead>
    <tbody>
    {% for Alert in liste_alert %}
        <tr>

            <td>{{ Alert.title }}</td>
            <td>{{ Alert.autor}}</td>
            <td>{{ Alert.phone }}</td>
             <td>{{ Alert.due_date }}</td>
            <td>{{ Alert.Resolue}}</td>
            <td>{{ Alert.Encours }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </div>
  </div>
  </body>

</html>